@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap');

:root {
    --foreground-base: #030304;
    --foreground-alt: #ffffff;
    --background-base: #ffffff;
    --accent: #86ddf3;

    --sans-font: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --serif-font: 'PT Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 16px;
}

body {
    font-family: var(--sans-font);
}

h1, h2 {
    font-family: var(--serif-font);
}

/* RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, p, img {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    background-color: var(--background-base);
}

img {
    height: auto;
    display: block;
}

/* LAYOUT */

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-wrapper {
    margin: 0 15px 30px 15px;
}

@media screen and (min-width: 1400px) {
    .layout-wrapper {
        max-width: 1400px;
    }
}

/* HEADER */

.header__hero-segment {
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: calc(32px + 66vw);
    position: relative;
    z-index: 10;
    margin-bottom: 42px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__hero-segment::after /* light image filter */ {
    content: "";

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    background-color: var(--background-base);
    opacity: 0.2;
}

.header__main-heading, .header__sub-heading {
    color: var(--foreground-alt);
    letter-spacing: 1px;
    text-align: center;

    z-index: 10;
}

.header__main-heading {
    font-size: 10vw;
    font-weight: 400;
}

.header__sub-heading {
    font-size: 4.2vw;
    font-weight: 700;
}

.header__intro-text {
    text-align: center;
    letter-spacing: 1px;
    font-size: calc(6px + 2.2vw);

    margin: 0 36px;
}

@media screen and (min-width: 840px) {
    .header__hero-segment {
        height: 620px;
    }

    .header__main-heading {
        font-size: 84px;
    }

    .header__sub-heading {
        font-size: 36px;
    }

    .header__intro-text {
        font-size: 24px;

        margin: 0 64px;
    }
}

@media screen and (min-width: 1400px) {
    .header__h-group {
        margin-bottom: 240px;
    }
}

/* MAIN */

.main {
    margin: 48px 12px 0 12px;
    position: relative;
}

.main__item {
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-bottom: 24px;
}

.main__number-card {
    display: flex;
    background-color: var(--accent);
    height: calc(32px + 50vw);
}

.main__number-card .main__number {
    color: var(--foreground-alt);
    font-family: var(--serif-font);
    font-size: calc(24px + 26vw);
    text-align: center;

    margin: auto;
}

.main__text-card {
    text-align: center;
    padding: 0 2.2vw 0 2.2vw;
}

.main__text-header {
    font-size: calc(14px + 2.4vw);
    margin-bottom: 6px;
}

.main__paragraph {
    font-size: calc(6px + 2.7vw);
}

.main__image-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(32px + 40vw);
}

.image-one {
    background-image: url("img/step-1.jpg");
}

.image-two {
    background-image: url("img/step-2.jpg");
}

.image-three {
    background-image: url("img/step-3-4.jpg");
}

@media screen and (min-width: 400px) {
    .main__text-header {
        margin-bottom: 12px;
    }

    .main__item {
        width: 48%;
        margin-bottom: 32px;
    }

    .main__item:nth-child(1) {
        height: calc(32px + 52vw);
        float: left;
    }

    .main__item:nth-child(2) {
        float: right;
    }

    .main__item:nth-child(3) {
        float: left;
    }

    .main__item:nth-child(4) {
        height: calc(32px + 76vw);
        float: right;
    }

    .main__item:nth-child(5) {
        float: left;
    }

    .main__item:nth-child(6) {
        height: calc(32px + 54vw);
        float: right;
    }

    .main__item:nth-child(7) {
        height: calc(32px + 60vw);
        float: left;
    }

    .main__item:nth-child(8) {
        float: right;
    }

    .main__item:nth-child(9) {
        float: left;
    }

    .main__item:nth-child(10) {
        height: calc(32px + 58vw);
        float: right;
    }

    .main__item:nth-child(11) {
        float: left;
    }
}

@media screen and (min-width: 840px) {
    .main {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
    }

    .main__number-card .main__number {
        font-size: 242px;
    }

    .main__text-header {
        font-size: 34px;
        margin-bottom: 18px;
    }

    .main__paragraph {
        font-size: 28px;
    }

    .main__image-card {
        height: 370px;
    }

    .main__item {
        width: 360px;
    }
    
    .main__item:nth-child(1) {
        height: 470px;
    }

    .main__item:nth-child(4) {
        height: 620px;
    }

    .main__item:nth-child(6) {
        height: 466px;
    }

    .main__item:nth-child(7) {
        height: 536px;
    }
    
    .main__item:nth-child(10) {
        height: 520px;
    }
}

@media screen and (min-width: 1400px) {
    .main {
        max-width: 1400px;
        padding: 0 36px 0 36px;

        display: flex;
        flex-wrap: wrap;
    }

    .main__item {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;

        margin-top: 0;
    }

    .main__text-card {
        padding: 0 24px 0 24px;
    }

    .main__text-header {
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .main__item:nth-child(1), .main__item:nth-child(6), .main__item:nth-child(7), .main__item:nth-child(11) {
        width: 24%;
    }

    .main__item:nth-child(2), .main__item:nth-child(4), .main__item:nth-child(8), .main__item:nth-child(10) {
        width: 30%;
        margin: 0 24px 0 24px;
    }

    .main__item:nth-child(3), .main__item:nth-child(5), .main__item:nth-child(9) {
        width: 38%;
    }

    .main__item:nth-child(1) {
        order: 1;
    }

    .main__item:nth-child(2) {
        order: 2;
        height: 470px;
    }

    .main__item:nth-child(3) {
        order: 3;
        height: 470px;
    }

    .main__item:nth-child(4) {
        order: 5;
    }

    .main__item:nth-child(5) {
        order: 6;
        height: 620px;
        padding: 0 32px 0 32px;
    }

    .main__item:nth-child(6) {
        order: 4;
        height: 620px;
    }

    .main__item:nth-child(7) {
        order: 7;
        height: 620px;
    }

    .main__item:nth-child(8) {
        order: 8;
        height: 620px;
    }

    .main__item:nth-child(9) {
        order: 9;
        height: 1020px;
    }

    .main__item:nth-child(10) {
        order: 11;
        height: 360px;
        width: 28%;
        position: absolute;
        bottom: 32px;
        left: 380px;
    }

    .main__item:nth-child(11) {
        order: 10;
        position: absolute;
        bottom: 20px;
        left: 40px;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__text-segment {
    padding: 0 24px 0 24px;
}

.footer__text-header {
    font-size: calc(8px + 7vw);
    line-height: 1.2;
}

.footer__paragraph {
    font-size: calc(6px + 2.7vw);
}

.footer__hero-header {
    color: var(--accent);
    font-family: var(--sans-font);
    font-size: calc(16px + 12vw);
    text-align: center;
    line-height: 1.2;
}

.footer__image {
    background-image: url("img/footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 78vw;
}

@media screen and (min-width: 400px) {
    .footer__text-header {
        width: 50%;
    }
}

@media screen and (min-width: 840px) {
    .footer__paragraph {
        font-size: 28px;
    }

    .footer__text-header {
        font-size: 66px;
        width: 36%;
    }

    .footer__paragraph {
        font-size: 28px;
    }

    .footer__hero-header {
        font-size: 116px;
    }
}

@media screen and (min-width: 1020px) {
    .footer {
        flex-direction: row;
        position: relative;
        justify-content: center;

        margin-top: 82px;
    }

    .footer__text-header {
        font-size: 72px;
        width: 70%;
        margin-bottom: 24px;
        padding-top: 48px;
    }

    .footer__hero-header {
        position: absolute;
        bottom: 24px;
    }

    .footer__paragraph {
        word-wrap: break-word;
        hyphens: auto;
    }

    .footer__text-segment, .footer__image {
        height: 960px;
    }

    .footer__text-segment {
        width: 44%;
        margin-left: 64px;
        margin-right: 28px;
    }

    .footer__image {
        width: 52%;
    }
}

@media screen and (min-width: 1400px) {
    .footer__text-header {
        width: 60%;
    }
}

/* HELPER CLASSES */

.text-removed {
    display: none;
}

@media screen and (min-width: 1200px) {
    .text-alternate-color {
        color: var(--foreground-alt);
    }
}
